{% extends 'sports/index.html' %}
{% load static %}
{% block title %}Women's cloth{% endblock title %}
{% block main-content %}
 <br> <br><br>
<center>
<h1><b><i>WOMEN CLOTHING</i></b></h1><br><br>
<div class="container-fluid" style=" font-family:Rajdhani,serif;">
  <div class="items row justify-content-around">
      {% for product in women_cloth %}
         <div class="item content1 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4 " style="padding-bottom: 80px;">
            <img src="{{product.product_image.url}}" class="h-75 w-100 mt-2" alt="">
            <div class="card-body">
               <div class="card-content">
                 <a href="{% url 'productdetail' product.id %}" class="text-decoration-none text-dark fs-5">{{product.title}}<br><small class="text-decoration-line-through text-muted">Rs.{{product.selling_price}} </small><small class="text-danger">&nbsp;(20% Off)</small><br>Rs.{{product.discounted_price}}/- </a>
               </div>
            </div>
         </div>
      {% endfor %}
  </div>
</div>

      {% comment %} <div class="item content3 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH2.jpg" class="h-75 w-100 mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
     <!-- <hr class="w-50 mx-auto my-0">-->
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 2</a>
      </div>
     </div>
  </div>



 <div class="item content4 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH3.jpg" class="h-75 w-100  mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 3</a>
      </div>
     </div>
  </div>

  <div class="item content4 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH4.jpg" class="h-75 w-100  mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 4</a>
      </div>
     </div>
  </div>

  <div class="item content4 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH5.jpg" class="h-75 w-100  mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 5</a>
      </div>
     </div>
  </div>

  <div class="item content4 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH6.jpg" class="h-75 w-100  mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 6</a>
      </div>
     </div>
  </div>

   <div class="item content4 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH7.jpg" class="h-75 w-100  mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 7</a>
      </div>
     </div>
  </div>

 <div class="item content5 text-center col-xs-12 col-sm-5 col-lg-3 shadow me-4 mb-4">
     <img src="images/WOMENCLOTH8.jpg" class="h-75 w-100 mt-2" alt="">
     <div class="card-body">
      <div class="card-content fw-bold">
       <a href="seatings.html" class="text-decoration-none text-dark fs-4">Product 8</a>
      </div>
     </div>
  </div> {% endcomment %}

{% endblock main-content %}